@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application permits the booking of equipment to authorised users, both staff and student.
    It uses tables in the Business School Asset database to manage permissions for users to book
    particular categories of equipment.
    </p>
