@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    University of Auckland<br />
    Business School<br />
    <abbr title="Phone">P:</abbr>
    86000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:staffservice@auckland.ac.nz">staffservice@auckland.ac.nz</a><br />
</address>