@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Business School Loan Bookings</h1>
    <p class="lead">Equipment can be booked here.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The Business School is able to lend a variety of equipment to authorised borrowers.
            Different items are placed in appropriate categories.  Examples of categories are:
            <ul>
                <li>Virtual Reality Headsets</li>
                <li>Audio recorders</li>
                <li>Tablets</li>
                <li>Laptops</li>
            </ul>
            Not all items are available to all users.  Users must be members of authorised
            Active Directory groups to be allowed to borrow items of a given category.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
</div>